.close-button {
  margin-left: auto;
}

#form-title {
  font-weight: bold;
}

::ng-deep #food-item-create-form .mat-card-header-text{
  width: 100%;
}

::ng-deep #vegan span{
  position: absolute;
  color: rgba(0, 0, 0, 0.54);
  top: 1.28125em;
}

#name {
  width: 25em;
}

#description {
  width: calc(100% - 6em);
}

#price {
  width: 5em;
}


#image {
  width: 100%;
}
