<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Détails</h1>
    </mat-card-title>
    <button mat-mini-fab mat-raised-button class="close-button" color="warn"
            routerLink="..">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>

    <mat-card *ngIf="!foodItem">
      <mat-card-content>
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="foodItem">
      <mat-card-header>
        <mat-card-title>
          <h2>{{foodItem.name}}</h2>
        </mat-card-title>
        <img mat-card-avatar src="/assets/vegan.png" *ngIf="foodItem.isVegan"/>
      </mat-card-header>
      <mat-card-content>
        <mat-card-subtitle><span class="price">{{foodItem.getPrice()}}</span>{{foodItem.description}}</mat-card-subtitle>
        <img [src]="foodItem.image"/>
      </mat-card-content>
    </mat-card>

  </mat-card-content>
</mat-card>
